name: Deploy to Kubernetes

on:
  push:
    branches:
      - main 
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository code
      - name: Checkout code
        uses: actions/checkout@v3

      # Create the .kube directory and set up kubeconfig
      - name: Set up kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      # Verify that we are logged into the Kubernetes cluster
      - name: Verify Kubernetes context
        run: |
          kubectl config get-contexts
          kubectl get nodes

      # Apply Kubernetes manifests
      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f minikube/podinfo/deployments
